@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: #f6f6f6;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}



.logo{
    text-decoration: none;
    color: #c83f30;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #c83f30;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.main-modal-dark, .main-modal-white {
    padding: 20px 20px 10px;
}
.main-modal-dark {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 200px 20px;
    background-color: rgb(213, 63, 63);
}
.main-modal-title {
    font-size: 1.8em;
}
.main-modal-title {
    display: flex;
    justify-content: center;
    color: #fcfcfe;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2px;
    border-radius: 25px;
    border: 2px solid rgba(1 1 1 / 15%);
    margin-bottom: 2em;
    margin-left: cm;
    margin-top: 0cm;
}
.rank {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #fff;
    padding: 2px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 2em;
    margin-left: cm;
    margin-top: 0cm;
} 
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.card {
    background-color: rgb(254, 254, 254);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.project-card {
box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #c83f30;
    font-size: 8em;
    text-align: center;
}



.info {
    text-align: center;
}

.info h3{
    color: #c83f30;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects {
    background-color: #eba8a8;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.more-details {
    color: #c83f30;
    
}

.more-details a:hover{
    color: #ff0000;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header {
    background-color: #f6f6f6;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}



.logo{
    text-decoration: none;
    color: #c83f30;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #c83f30;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.main-modal-dark, .main-modal-white {
    padding: 20px 20px 10px;
}
.main-modal-dark {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 200px 20px;
    background-color: rgb(213, 63, 63);
}
.main-modal-title {
    font-size: 1.8em;
}
.main-modal-title {
    display: flex;
    justify-content: center;
    color: #fcfcfe;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 2px;
    border-radius: 25px;
    border: 2px solid rgba(1 1 1 / 15%);
    margin-bottom: 2em;
    margin-left: cm;
    margin-top: 0cm;
}
.rank {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    background-color: #fff;
    padding: 2px;
    border-radius: 25px;
    border: 2px solid rgb(255, 255, 255);
    margin-bottom: 2em;
    margin-left: cm;
    margin-top: 0cm;
} 
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


.card {
    background-color: rgb(254, 254, 254);
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.project-card {
box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
}
.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #c83f30;
    font-size: 8em;
    text-align: center;
}



.info {
    text-align: center;
}

.info h3{
    color: #c83f30;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.projects {
    background-color: #eba8a8;
}

.projects .content{
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.more-details {
    color: #c83f30;
    
}

.more-details a:hover{
    color: #ff0000;
}
.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
     
    }
}